APP_PASSCODE=0000

FIREBASE_API_KEY=AIzaSyDrBKFVbRjCNktCmjrv-bI5OSSSj41T4iI
FIREBASE_AUTH_DOMAIN=navaratne-books.firebaseapp.com
FIREBASE_DATABASE_URL=https://navaratne-books-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=navaratne-books
FIREBASE_STORAGE_BUCKET=navaratne-books.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=820433869013
FIREBASE_APP_ID=1:820433869013:web:71d1d2951b7384b4b4aa5c